.sectionStyle {
    display: flex;
    flex-direction: column;
    border: solid white 1px;
    padding: 30px;
    border-radius: 10px;
}

.sectionStyle label {
    margin-bottom: 10px;
    text-decoration: underline;
}
.sectionStyle input {
    padding: 10px;
    margin-bottom: 30px;
}

 ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.notPass {
    color: rgb(135, 19, 19);
    text-decoration: underline;
    list-style-type: none;
}

.Pass {
    color: green;
}